<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag    "chat", :media => "all" %>
  <%= javascript_include_tag "swfobject.js" %>
  <%= javascript_include_tag "FABridge.js" %>
  <%= javascript_include_tag "web_socket.js" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body onload="init();">

<%= yield %>

</body>
</html>
